.wp-block-geolonia-map {
	.geolonia {
		height: 300px;
		.mapboxgl-ctrl-group button {
			background-color: transparent!important;
		}
		.mapboxgl-ctrl-attrib-button {
			padding: 0;
			background-color: hsla(0,0%,100%,.5)!important;
		}
	}
}
